/* Page */

.cgit-user-guide {
    max-width: 60em;
}

/* Headings */

h4 {
    margin: 1em 0 0 0;
}

h5 {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    margin: 1em 0 0 0;
}

h6 {
    font-size: 1em;
    font-weight: normal;
    margin: 1em 0 0 0;
}

/* Block quotations */

blockquote {
    margin: 1em 0;
    padding: 0 2em;
}

/* Lists */

ol,
ul {
    margin: 1em 0;
    padding-left: 2em;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin: 0.5em 0;
}

ul li {
    list-style: disc;
}

dl {
    margin: 1em 0;
}

dt {
    font-weight: bold;
    margin: 0.5em 0;
}

dd {
    margin: 0.5em 0;
    padding-left: 2em;
}

/* Tables */

table {
    border-collapse: collapse;
    margin: 1em auto;
}

td,
th {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0.5em 1em;
    text-align: left;
}

/* Figures */

img {
    display: block;
    height: auto;
    margin: 1em auto;
    max-width: 100%;
    width: auto;
}

figure {
    border: 0.25em solid rgba(0, 0, 0, 0.1);
    margin: 1em 0;
    padding: 0;
}

figcaption {
    background: rgba(0, 0, 0, 0.1);
    font-style: italic;
    margin-top: 0.5em;
    padding: 0.5em 1em;
    text-align: center;
}

/* Code */

pre {
    background: rgba(0, 0, 0, 0.07);
    font-family: "Consolas", "Monaco", monospace;
    margin: 1em 0;
    padding: 1em;
    white-space: pre-wrap;
}

pre code,
pre kbd {
    background: transparent;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

/* Print */

@media print {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid;
    }

    figcaption {
        page-break-before: avoid;
    }

    figure,
    figcaption {
        page-break-inside: avoid;
    }

    #adminmenumain,
    #wpadminbar {
        display: none;
    }

    #wpcontent,
    #wpfooter {
        margin: 0;
        padding: 0;
    }

    html.wp-toolbar {
        padding-top: 0;
    }

}
